body {
  margin-left: 0;
  margin: 0;
}

h1 {
  font-family: 'Muli', sans-serif;
  font-size: 3em;
  padding: 1.3em;
  padding-left: .5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-image: url('img/header');
  margin-top: 0;
  color: white;


}

h2 {
  font-family: 'Roboto', sans-serif;


padding-left: .5em;




}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  color: #0D5A8B;

}

h4 {
font-family: 'Roboto', sans-serif;
  font-size: 1.3em;

}


article {
  width: 24.75em;
  margin-left: 10.5px;
  margin-right: 10.5px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding-top: 0.3em;
  transition: 0.7s;

}

article:hover {

   box-shadow: 0 0 11px rgba(33,33,33,.2);
   transform: scale(1.03);

}

article button {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #71C5EA;
  border:none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
    color: white;
  position: relative;
  transition: 1s;
}

article button:hover {
  transform: scale(1.03);
  background-color: navy;
}


.container {
  width: 100%;
  height: 200px;
  background-image: url("img/680-452.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 55%;
}

.container2{
  width: 100%;
  height: 200px;
  background-image: url("img/2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 55%;
}

.container3 {
  width: 100%;
  height: 200px;
  background-image: url("img/33.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 55%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #A9A9A9;
}

input {

    width: 23.2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border: none;
  bottom-border: solid 1px;
  font-size: 1em;
}

.content {
  padding-left: 1em;
}

li {
  list-style: none;

padding: 0.5em;
  transition: 0.7s;

}

ul {
  display: flex;
  width: 100%;
  margin-left: -1.5em;


}

li a {
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  color: white;

}

li:hover {
  background: lightgrey;
  transition: 0.7s;
}


article section p {
  margin-bottom: 2em;
}
article {
  margin-bottom: 1em;
}

.toon {

  height: 0;
  width: 0;
opacity: 0;
  padding: 1em;
}

.show {
  opacity: 1;
  height: auto;
  width: auto;
transition: 0.7s;
}

div.test {



    background-color: #fff;
    border: none;
    padding: 0;
    min-width: 100px;
    width: 250px;
    height: auto;

}

div.test > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}


div.test > ul li {
    height:50px;
    padding: 5px 5px 5px 65px;
    margin: 0;
}

.back {
  background-image: url('http://placehold.it/50x50');
    background-repeat: no-repeat;
    background-position: 5px 5px;

}

.back:hover {
  background-color: none;
}

header {
  background-color: #1D8ECE;
  padding-bottom: .1em;
}
